{% extends "discover/base.html" %}

{% block title %}Repo Browser{% endblock %}

{% block body %}

    <div class="container">

        {% include 'discover/partial_messages.html' %}

        <h1>Repo Browser</h1>

        <p>
            Enter a Debian / Ubuntu
            <a href="https://manpages.debian.org/bookworm/apt/sources.list.5.en.html" target="_blank">apt data
                source</a>.
        </p>
        <p>
            If the data source can be browsed, then the available packages will be populated.
            If the data source does not provide a way to browse it, then further information will be required
            about the available distributions, components, and architectures.
        </p>
        <p>
            If the optional signing key is provided, then the various file signatures will be checked.
        </p>

        <form action="{% url 'discover:index' %}" method="post" novalidate>
            {% csrf_token %}
            {{ form }}
            <button type="submit" class="btn btn-primary">Browse</button>
            <button type="reset" class="btn btn-secondary">Clear</button>
        </form>

        <h4 class="mt-4">Examples</h4>

        <div id="examples" class="list-group mb-4"></div>
    </div>

{% endblock body %}

{% block bottom_script %}
    <script type="application/javascript">
        function clickExample(event) {
            const dataset = event.target.dataset;

            document.getElementById("id_url").value = dataset.url.toString();
            document.getElementById("id_sign_url").value = dataset.sign_url.toString();
            document.getElementById("id_distribution").value = dataset.distribution.toString();
            document.getElementById("id_component").value = dataset.component.toString();
            document.getElementById("id_architecture").value = dataset.architecture.toString();
        }

        function addExample(example) {
            const button = document.createElement("button");
            button.className = "list-group-item list-group-item-action";
            button.textContent = example.text;
            if (example.notes) {
                button.textContent += " (" + example.notes + ")";
            }

            button.dataset.url = example.url;
            button.dataset.sign_url = example.sign_url;
            button.dataset.distribution = example.distribution;
            button.dataset.component = example.component;
            button.dataset.architecture = example.architecture;

            button.addEventListener("click", clickExample, false);

            const elementExamples = document.getElementById("examples");
            elementExamples.appendChild(button);
        }


        // links
        const examples = [
            {% for example in examples %}
                {
                    text: "{{ example.text }}",
                    url: "{{ example.url }}",
                    sign_url: "{{ example.sign_url }}",
                    distribution: "{{ example.distribution }}",
                    component: "{{ example.component }}",
                    architecture: "{{ example.architecture }}",
                    notes: "{{ example.notes }}",
                }
                {% if not loop.last %},{% endif %}
            {% endfor %}
        ];

        for (const example of examples) {
            addExample(example);
        }
    </script>
{% endblock bottom_script %}